[distutils]
index-servers =
  pypi
  pypitest

[pypi]
repository=https://upload.pypi.org/legacy
username=%%PYPI_USERNAME%%
password=%%PYPI_PASSWORD%%

[pypitest]
repository=https://test.pypi.org/legacy/
username=%%TESTPYPI_USERNAME%%
password=%%TESTPYPI_PASSWORD%%
